Synapse_Objects/Pipelines/Ingest_Daily_Changed_Dims.json
{
    "name": "Ingest_Daily_Changed_Dims",
    "properties": {
        "activities": [
            {
                "name": "Get_On_Prem_Changed_Data_Metadata",
                "type": "GetMetadata",
                "dependsOn": [
                    {
                        "activity": "Set_Process_Date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "RawNewDimChanges",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "FileServerReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "Unprocessed_Only_Filter",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "Get_On_Prem_Changed_Data_Metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get_On_Prem_Changed_Data_Metadata').output.childItems",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@greaterOrEquals(item().name, variables('ProcessDate'))\n",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set_First_Unprocessed_Folder",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Unprocessed_Only_Filter",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "FirstUnprocessedFolder",
                    "value": {
                        "value": "@first(activity('Unprocessed_Only_Filter').output.Value).name\n",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Conditional_Copy_Activity",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Set_First_Unprocessed_Folder",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(variables('ProcessDate'), variables('FirstUnprocessedFolder'))",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Copy_First_Unprocessed_Folder",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "FileServerReadSettings",
                                        "recursive": true,
                                        "wildcardFileName": "*.csv",
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings",
                                        "copyBehavior": "PreserveHierarchy"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "OnPremParameterizedSource",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "FolderPath": "@concat('Changed_Data/', variables('FirstUnprocessedFolder'))"
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ChangedDimsParameterizedSink",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "FolderPathSink": "@variables('FirstUnprocessedFolder')"
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "Set_Process_Date",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Lookup_Process_Date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "ProcessDate",
                    "value": {
                        "value": "@addDays(activity('Lookup_Process_Date').output.firstRow.ProcessDate, -1, 'yyyy-MM-dd')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Lookup_Process_Date",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "ProcessDate",
                        "type": "DatasetReference"
                    }
                }
            }
        ],
        "variables": {
            "FirstUnprocessedFolder": {
                "type": "String"
            },
            "ProcessDate": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2025-10-27T21:46:07Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}