Synapse_Objects/Pipelines/Staging_Incremental_Customers.json
{
    "name": "Staging_Incremental_Customers",
    "properties": {
        "activities": [
            {
                "name": "Set_Process_Date",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Lookup_Process_Date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "ProcessDate",
                    "value": {
                        "value": "@addDays(activity('Lookup_Process_Date').output.firstRow.ProcessDate, -1, 'yyyy-MM-dd')\n",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Check_For_New_Data",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Set_Process_Date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "sqlReaderQuery": {
                            "value": "SELECT COUNT(*) AS RowCnt\nFROM LDW.vwIncrementalCustomers\nWHERE FilePathDate = '@{variables('ProcessDate')}'",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "IncrementalCustomersView",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "Conditional_SP_Run",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Check_For_New_Data",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@greater(activity('Check_For_New_Data').output.firstRow.RowCnt, 0)\n",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "uspIncrementalCustomersLoad",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "storedProcedureName": "[STG].[uspIncrementalCustomersLoad]",
                                "storedProcedureParameters": {
                                    "ProcessDate": {
                                        "value": {
                                            "value": "@variables('ProcessDate')",
                                            "type": "Expression"
                                        },
                                        "type": "DateTime"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "LDW_database_connection",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            },
            {
                "name": "Lookup_Process_Date",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "ProcessDate",
                        "type": "DatasetReference"
                    }
                }
            }
        ],
        "variables": {
            "ProcessDate": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2025-10-27T21:16:11Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}