Synapse_Objects/Pipelines/Staging_Initial_Sales.json
{
    "name": "Staging_Initial_Sales",
    "properties": {
        "activities": [
            {
                "name": "Get_Orders_Directory_Metadata",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "OrdersDirectory",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "Historical_Sales_Only_Filter",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "Get_Orders_Directory_Metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get_Orders_Directory_Metadata').output.childItems\n",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@less(substring(item().name, 19, 10), '2020-01-01')\n",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Run_SP_For_Each_Date",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Historical_Sales_Only_Filter",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Historical_Sales_Only_Filter').output.value\n",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "uspHistoricalFactSalesLoad",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "storedProcedureName": "[STG].[uspHistoricalFactSalesLoad]",
                                "storedProcedureParameters": {
                                    "OrderDate": {
                                        "value": {
                                            "value": "@substring(item().name, 19, 10)",
                                            "type": "Expression"
                                        },
                                        "type": "DateTime"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "LDW_database_connection",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2025-10-27T22:08:41Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}